<!-- Content -->
<div class="container">

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-4 text-center">
      <h2 class="h1-responsive font-weight-bold my-5  text-center">Visualizaciones</h2>
      <hr class="hr-light my-4 w-75">
      <h4 class="subtext-header mt-2 mb-4">En ésta sección podrás generar tus propios cortes de datos, por año y
        organismo, así como las visualizaciones correspondientes para esa selección.</h4>
      <hr class="hr-light my-4 w-75">
    </div>
  </div>


  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-4">
      <div class="visualization-card">
        <nouislider [connect]="true" [config]="someKeyboardConfig2" [min]="2015" [max]="2018" [step]="1"
                    (ngModelChange)="onSliderChange()"
                    [(ngModel)]="range" [tooltips]="[true,true]"></nouislider>
        <select class="browser-default custom-select" (change)="onOrgChange($event.target.value)">
          <option value="" selected>Seleccione un Organismo</option>
          <option *ngFor="let org of organisms" value="{{org.buyerId}}">{{org.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div appLoaderIndicator [loaderType]="'ld-over'" [busy]="busy" style="min-height: 300px">

    <div class="ld ld-ring ld-spin" style="font-size: 60px"></div>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4" *ngIf="showPieChart">
        <div class="visualization-card">
          <small>¿Cómo se gasta?</small>
          <ngx-charts-pie-chart
            [results]="releaseTypes"
            [trimLabels]="false"
            [labels]="true">
          </ngx-charts-pie-chart>
        </div>
      </div>

      <!--Grid column-->
      <div class="col-md-6 mb-4" *ngIf="showGeneralData">
        <div class="visualization-card general-stats">
          <small>¿Cómo se gasta?</small>
          <p class="visualization-card-title">Monto de Compras</p>
          <div class="general-stats-content">
            <p class="general-stats-amount">{{releasesAmount | currency}}</p>
            <p class="general-stats-purchases">En {{releasesQty}} Compras</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="showProductsTypes">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <div class="visualization-card">

          <small>¿Cómo se compra?</small>
          <p class="visualization-card-title">Artículos Adquiridos</p>
          <div class="text-center">
            <div class="product-tabs btn-group" role="group" style="border-radius: 6px;
    border: 1px solid #00c851;">
              <button mdbBtn type="button"
                      [ngClass]="{'active':productsActiveTab==='amount'}"
                      (click)="productsActiveTab='amount'"
                      class="waves-light custom-btn-color">Monto
              </button>
              <button mdbBtn type="button"
                      [ngClass]="{'active':productsActiveTab==='qty'}"
                      (click)="productsActiveTab='qty'"
                      class="waves-light custom-btn-color">Cantidad
              </button>
            </div>
          </div>
          <div class="row" style="min-height: 700px">
            <ngx-charts-tree-map
              *ngIf="productsActiveTab==='amount'"
              [animations]="true"
              [results]="productsTypes">
            </ngx-charts-tree-map>
            <ngx-charts-tree-map
              *ngIf="productsActiveTab==='qty'"
              [animations]="true"
              [results]="productsTypesQuantity">
            </ngx-charts-tree-map>
          </div>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="showBoxChart">

      <!--Grid column-->
      <div class="col-md-12 mb-4" style="padding-right: 0">
        <div class="visualization-card">
          <small>Comparación</small>
          <div style="text-align: right">
            <ng-template #popTemplate><img width="160" src="assets/boxchart_tip.png"></ng-template>
            <i class="boxchart-tooltip fa fa-question-circle" [mdbTooltip]="popTemplate" data-container="body">
            </i>
          </div>
          <p class="visualization-card-title"> Los 10 artículos más comprados</p>
          <div [chart]="boxChart"></div>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="showSuppliers">

      <!--Grid column-->
      <div class="col-md-12 mb-4" *ngIf="showSuppliers" style="min-height: 700px;">
        <div class="visualization-card">
          <small>¿A quienes se le compra?</small>
          <p class="visualization-card-title">Proveedores</p>
          <div class="row" style="min-height: 700px">
            <ngx-charts-tree-map
              [animations]="true"
              [results]="suppliers">
            </ngx-charts-tree-map>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4" *ngIf="showRadarData">
        <div class="visualization-card">
          <p class="visualization-card-title">Índice de Desempeño en las Contrataciones Públicas</p>
          <canvas mdbChart
                  [chartType]="'radar'"
                  [datasets]="radarData"
                  [labels]="radarLabels"
                  [options]="{responsive:true}"
                  [legend]="true">
          </canvas>
        </div>
      </div>

    </div>
  </div>


</div>
