<!-- Content -->
<div class="container">

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-4 text-center">
      <h2 class="h1-responsive font-weight-bold my-5  text-center">Visualizaciones</h2>
      <hr class="hr-light my-4 w-75">
      <h4 class="subtext-header mt-2 mb-4">En ésta sección podrás generar tus propios cortes de datos, por año y
        organismo, así como las visualizaciones correspondientes para esa selección.</h4>
      <hr class="hr-light my-4 w-75">
    </div>
  </div>


  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-4">
      <nouislider [connect]="true" [config]="someKeyboardConfig2" [min]="2015" [max]="2018" [step]="1"
                  (change)="getData()"
                  [(ngModel)]="range" [tooltips]="[true,true]"></nouislider>
      <select class="browser-default custom-select" (change)="onOrgChange($event.target.value)">
        <option value="" selected>Seleccione un Organismo</option>
        <option *ngFor="let org of organisms" value="{{org.id}}">{{org.name}}</option>
      </select>
    </div>
  </div>

  <ng-container *ngIf="showCharts">

    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <small>¿Cómo se gasta?</small>
        <ngx-charts-pie-chart
          [results]="releaseTypes"
          [trimLabels]="false"
          [labels]="true">
        </ngx-charts-pie-chart>
      </div>

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <small>¿Cómo se gasta?</small>
        <h4>Monto de Compras</h4>
        <p>{{releasesAmount | currency}}</p>
        <p>En {{releasesQty}} Compras</p>
      </div>

    </div>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <small>¿Cómo se compra?</small>
        <h4>Artículos Adquiridos</h4>
        <ngx-charts-tree-map
          [animations]="true"
          [results]="productsTypes">
        </ngx-charts-tree-map>
      </div>

    </div>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <small>Comparación</small>
        <h4>Los 10 artículos más comprados</h4>
        <div [chart]="boxChart"></div>

      </div>

    </div>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <small>¿A quienes se le compra?</small>
        <h4>Proveedores</h4>
        <ngx-charts-tree-map
          [animations]="true"
          [results]="suppliers">
        </ngx-charts-tree-map>
      </div>

    </div>


    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <small>Índice de Desempeño en las Contrataciones Públicas</small>
        <h4>MTOP</h4>
        <canvas mdbChart
                [chartType]="'radar'"
                [datasets]="radarData"
                [labels]="radarLabels"
                [options]="{responsive:true}"
                [legend]="true">
        </canvas>
      </div>

    </div>
  </ng-container>


</div>
