.home-app-name {
  color: #ffbb33;
  font-weight: 500;
}

.pbi-box {
  border: 2px solid black;
  font-weight: bold;
  text-align: left;
  padding: 3px;
}

.home-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007ecc+0,00639c+0,003f64+23,00578a+93,0069a6+100 */
  background: #007ecc; /* Old browsers */
  background: -moz-linear-gradient(left, #007ecc 0%, #00639c 0%, #003f64 23%, #00578a 93%, #0069a6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #007ecc 0%, #00639c 0%, #003f64 23%, #00578a 93%, #0069a6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #007ecc 0%, #00639c 0%, #003f64 23%, #00578a 93%, #0069a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ecc', endColorstr='#0069a6', GradientType=1); /* IE6-9 */
}

.home-app-name-2 {
  color: white;
  font-weight: 500;
}

.bold-400 {
  font-weight: 400;
}

.bold-800 {
  font-weight: 800;
}

.home-partners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.think-emoji {
  span {
    font-size: 35px;
    vertical-align: middle;
    line-height: 2;
  }
}

.home-logo {
  padding: 10px;
  max-height: 250px;
}

.home-intro-text {
  padding: 60px 20px 10px 10px;
}

h3 {
  font-size: 23px !important;
}

.think-text {
  p {
    text-align: left;
    padding: 10px;
  }
}

.thumbs-card-header {
  i {
    font-size: 35px;
  }
}
