<div class="view intro white-text home-background"
     style="min-height: 400px;  filter: alpha(opacity=50)">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>

  <div class="row mt-5">
    <div class="col-md-12 wow fadeIn mb-3">
      <div class="intro-info-content text-center">
        <h1 class="bold-600" style="letter-spacing: 6px;"> CUENTAS CLARAS</h1>
        <div class="home-intro-text container">
          <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
            ¿Qué compro y cuánto gastó el Estado uruguayo en los últimos años?
            ¿Qué tan transparentes son los organismos públicos en la publicación de esta información?
          </h3>
          <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
            Muchas son las preguntas que surgen en torno a este tema, este sitio da respuestas a muchas de ellas y
            disponibiliza los datos para responder otras tantas.
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-12 wow fadeIn mb-3">
        <div class="intro-info-content text-center">
          <h3 class="mb-3 mt-1 wow fadeIn" data-wow-delay="0.4s">
            Cuentas Claras es un proyecto de CÍVICO en colaboración con la diaria, con el apoyo de Open Contracting
            Partnership y la Iniciativa Latinoamericana de Datos Abiertos (ILDA). Los datos abiertos utilizados surgen
            de la Agencia de Contrataciones y Compra del Estado (ACCE).
          </h3>
          <div class="container">

            <div class="row mt-5 home-partners">
              <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                <img src="assets/orgs/civico.png" class="rounded mx-auto">
              </div>
              <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                <img src="assets/orgs/ladiaria.png" class="rounded mx-auto">
              </div>
              <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                <img src="assets/orgs/ilda.png" class="rounded mx-auto">
              </div>
              <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                <img src="assets/orgs/ocp.png" class="rounded mx-auto" style="width: 300px">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">Compras públicas: ¿por qué?</h2>
      <p align="justify">
        Las compras y contrataciones del Estado son claves para entender el relacionamiento entre el sector público y el
        privado, y por tanto merecen especial atención en la búsqueda de transparencia y lucha contra la corrupción. Los
        gastos que los organismos públicos generan en compras y contratos representan un amplio porcentaje de sus
        presupuestos, repercutiendo directa e indirectamente en cómo se proveen los servicios y bienes públicos.

        Hacer transparentes las compras y contrataciones del Estado permiten mejorar el control de los ciudadanos y
        facilitan la rendición de cuentas. Además, favorecen la competencia y negociación de los organismos públicos con
        las empresas, alcanzando resultados más eficientes.
      </p>
      <h3 class="h1 font-bold mb-3">¿Qué y quién?</h3>

      <div class="row">
        <div class="col-md-8" style="padding-right: 2px">
          <p align="justify">
            En 2018, las compras y contrataciones del Estado uruguayo alcanzaron los $19.354,78 millones de pesos.
          </p>
        </div>

        <div class="col-md-4" style="padding-left: 2px">
          <p class="pbi-box">
            Esto representa un 5% del Presupuesto Nacional de ese año.
          </p>
        </div>
      </div>
      <p align="justify">
        ¿Cuáles fueron los productos más adquiridos? Esto es el top cinco de organismos más compradores y los artículos
        más comprados por el Estado uruguayo.
      </p>
      <div class="row">
        <div class="col-md-6 my-3" style="text-align:left">

          <app-year-filter [years]="years" [defaultYear]="topBuyersSelectedYear$ | async"
                           (selectedYear)="topBuyersSelectedYear($event)">
          </app-year-filter>

          <ngx-datatable
            class="material"
            [rows]="topBuyers"
            [limit]="5"
            [columnMode]="'flex'"
            [rowHeight]="'auto'"
            [headerHeight]="'auto'"
            [footerHeight]="50"
            [loadingIndicator]="topBuyersLoading">
            <ngx-datatable-column prop="name" name="Organismo" [flexGrow]="2">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="totalAmount" name="Monto" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="quantity" name="Cantidad de compras" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <div class="col-md-6 my-3" style="text-align:left">

          <app-year-filter [years]="years" [defaultYear]="topItemsSelectedYear$ | async"
                           (selectedYear)="topItemsSelectedYear($event)">
          </app-year-filter>

          <ngx-datatable
            class="material"
            [rows]="topItems"
            [limit]="5"
            [columnMode]="'flex'"
            [rowHeight]="'auto'"
            [headerHeight]="'auto'"
            [footerHeight]="50"
            [loadingIndicator]="topItemsLoading">
            <ngx-datatable-column prop="description" name="Producto" [flexGrow]="2">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="totalAmount" name="Monto" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿Cuánto?</h2>
      <p align="justify">
        El universo de artículos y servicios comprados por el estado uruguayo está organizado en el Catálogo de
        Artículos de ACCE. De esta forma, podemos observar cómo por un mismo artículo distintos organismos han pagado
        precios diferentes.

        Un ejemplo. El código 3756 corresponde a “SILLA GIRATORIA DE OFICINA TIPO EJECUTIVO”. En 2017 se compraron en
        total 831 sillas de este estilo. Las <a href="https://www.comprasestatales.gub.uy/consultas/detalle/id/596528">más
        económicas</a> costaron $982 (más IVA) en una misma compra de cinco sillas que fue realizada por la Jefatura de
        Policía de Artigas, y <a href="https://www.comprasestatales.gub.uy/consultas/detalle/id/604966">la más cara</a>
        costó U$S487,91 (más IVA) y fue adquirida por la Dirección General de Servicios Ganaderos del MGAP.
      </p>

      <div class="row">
        <div class="col-md-12 my-5" appLoaderIndicator [loaderType]="'ld-over'" [busy]="itemsBusy">

          <div class="ld ld-ring ld-spin" style="font-size: 60px"></div>
          <ngx-select-dropdown [config]="itemsListDDconfig" [options]="itemsList"
                               style="padding: 1px 0px;"
                               [(ngModel)]="selectedItem"
                               [disabled]="itemsListDisabled" class="browser-default custom-select"
                               (change)="onItemChange()">
          </ngx-select-dropdown>
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="itemPriceGraphData"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            legendTitle="Unidades de medida"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Año'"
            [yAxisLabel]="'Precio'"
            [autoScale]="true">
          </ngx-charts-line-chart>
        </div>
      </div>
      <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-body>
          <mdb-card-text class="text-white row">
            <div class="col-md-1 think-emoji">
              <span>🤔</span>
            </div>
            <div class="col-md-11 think-text">
              <p>
                PARA PENSAR: En 2017 el gasto total en sillas de este estilo fue de $2.799.820 aproximadamente, lo que
                implica que en promedio se pagó $3.369 por cada una. Ahora, si las 831 sillas se hubiesen comprado por
                el valor de la licitación pública ($2.743), ello hubiese significado un ahorro de $519.672, el 18,5% del
                gasto total.
              </p>
            </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿Cómo?</h2>
      <p align="justify">
        El Estados uruguayo puede comprar a través de 9 mecanismos: <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Licitacionpublica.html">Licitación
        Pública</a>, <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Licitacionabreviada.html">Licitación
        Abreviada</a>, <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Compradirecta.html">Compra
        Directa</a>, <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Compraporexcepcion.html">Compra
        por Excepción</a>, <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/PregonoPujaalabaja.html">Pregón</a>,
        <a
          href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/SubastaoRemate.html">Subasta</a>,
        <a
          href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Conveniosmarco.html">Convenios
          marco</a>, <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Procedimientosdecontratacionespe.html">Procedimientos
        de contratación especial</a> y <a
        href="https://www.comprasestatales.gub.uy/ManualesDeUsuarios/manual-procedimiento-compras/Arrendamiento.html">Arrendamiento</a>.
        Cada uno de estos cuentan con distintas etapas en cuanto a su procedimiento y a los montos que pueden alcanzar.
        Cada uno está regulado en montos y procedimientos según el TOCAF.

        La Compra Directa ha sido el mecanismo más utilizado. En 2017, el Estado uruguayo realizó 57.785 compras
        directas. Lo siguen las licitaciones abreviadas - 3.947 en 2017-, las compras por excepción -2.845- y luego las
        licitaciones públicas que fueron 572.
      </p>

      <div style="text-align: left">
        <app-year-filter *ngIf="releaseTypes" [years]="getReleaseTypeYears"
                         [defaultYear]="releaseTypesSelectedYear$ | async"
                         (selectedYear)="releaseTypesSelectedYear($event)">
        </app-year-filter>
      </div>
      <div style="background-color: white; padding: 15px; border-radius: 5px;">
        <div class="text-center">
          <div class="releases-tabs btn-group" role="group" style="border-radius: 6px;
    border: 1px solid #00c851;">
            <button mdbBtn type="button"
                    [ngClass]="{'active':((releaseTypesFilter$|async)==='amount')}"
                    (click)="releasesSetActiveFilter('amount')"
                    class="waves-light custom-btn-color">Monto
            </button>
            <button mdbBtn type="button"
                    [ngClass]="{'active':((releaseTypesFilter$|async)==='qty')}"
                    (click)="releasesSetActiveFilter('qty')"
                    class="waves-light custom-btn-color">Cantidad
            </button>
          </div>
        </div>
        <div style="min-height: 350px;">
          <ngx-charts-pie-chart
            *ngIf="releaseTypes && releaseTypes[releaseTypesSelectedYear$|async] && releaseTypes[releaseTypesSelectedYear$|async][releaseTypesFilter$|async]"
            [results]="releaseTypes[releaseTypesSelectedYear$|async][releaseTypesFilter$|async]"
            [trimLabels]="false"
            [labels]="true">
          </ngx-charts-pie-chart>
        </div>
      </div>
      <p align="justify" style="padding-top: 10px">
        Que este mecanismo sea el más utilizado no es necesariamente una buena noticia. La falta de competitividad es
        uno de los principales argumentos en contra del abuso de las contrataciones directas, lo que puede repercutir en
        un mayor gasto de los organismos públicos.
      </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿A quién?</h2>
      <p align="justify">
        Todas las empresas que comercializan -o lo intentan- con el Estado, integran el Registro Único de Proveedores
        del Estado (RUPE): una base de datos administrada por ACCE en la que es obligatorio inscribirse para participar
        en procesos de selección de proveedores. Actualmente figuran 70.822 empresas en el RUPE de 84 países diferentes.
      </p>

      <div class="row my-3">
        <div class="col-md-12" style="text-align:left">

          <app-year-filter [years]="years" [defaultYear]="topSuppliersSelectedYear$ | async"
                           (selectedYear)="topSuppliersSelectedYear($event)">
          </app-year-filter>

          <ngx-datatable
            class="material"
            [rows]="topSuppliers"
            [limit]="5"
            [columnMode]="'flex'"
            [rowHeight]="'auto'"
            [headerHeight]="'auto'"
            [footerHeight]="50"
            [loadingIndicator]="topSuppliersLoading">
            <ngx-datatable-column prop="name" name="Empresa" [flexGrow]="2">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="totalAmount" name="Monto" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="quantity" name="Cantidad de compras" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <p align="justify">
        Sin embargo, no todas estas empresas son efectivamente proveedoras del Estado, esto significa que muchas de
        ellas no han sido adjudicatarias. En 2018, 8.507 empresas resultaron ganadoras en una contratación pública.
      </p>
      <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-body>
          <mdb-card-text class="text-white row">
            <div class="col-md-1 think-emoji">
              <span>🤔</span>
            </div>
            <div class="col-md-11 think-text">
              <p>
                PARA PENSAR: Al pensar en compras públicas nos imaginamos grandes empresas proveedoras del Estado, pero
                sin embargo la mitad de las empresas registradas en el RUPE son unipersonales (“Personas Físicas con
                actividad empresarial - Unipersonal o profesional”).
              </p>
            </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 my-5">
      <div class="row">
        <div class="col-md-6">

          <mdb-card class="text-white mb-3" bgColor="bg-danger">
            <mdb-card-header class="thumbs-card-header"><i class="fa fa-thumbs-down"></i></mdb-card-header>
            <mdb-card-body>
              <mdb-card-text class="text-white">
                <ul>
                  <li>
                    “Baja DGI”
                    Cuando las empresas se encuentran en esta categoría, no pueden participar como oferentes en un
                    proceso de contratación pública. El 15,5% de las empresas registradas en el RUPE se encuentran en
                    esta categoría.
                  </li>
                </ul>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-6 think-text">
          <mdb-card class="text-white mb-3" bgColor="bg-success">
            <mdb-card-header class="thumbs-card-header"><i class="fa fa-thumbs-up"></i></mdb-card-header>
            <mdb-card-body>
              <mdb-card-text class="text-white">
                <ul>
                  <li>
                    Algo bueno de este lado
                  </li>
                </ul>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <p align="justify" style="margin-top: 20px;">
          A continuación, esta visualización permite observar la relación entre proveedores y organismos públicos, según
          cantidad de compras o montos.
        </p>
        <div class="col-md-11" style="padding: 0">
          <app-year-filter [years]="years" [defaultYear]="networkSelectedYear$ | async"
                           (selectedYear)="networkSelectedYear($event)"></app-year-filter>
        </div>
        <div class="col-md-1">
          <a [href]="networkURL"
             style="color:black; font-size:24px;"><i class="fa fa-expand"></i></a>
        </div>
        <div class="col-md-12" style="padding: 0">

          <iframe [src]="networkURL | safe" frameborder="0" height="1000"
                  width="1100"></iframe>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->


  </div>
</div>
