<div class="view intro"
     style="background-image: url(assets/banner.jpg); background-attachment: fixed; background-size: cover; min-height: 700px;  filter: alpha(opacity=50)">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>

  <div class="row mt-5">
    <div class="col-md-12 wow fadeIn mb-3">
      <div class="intro-info-content text-center white-text">
        <h2 class="h1 display-1 mb-2 wow fadeInDown  font-bold" data-wow-delay="0.3s"><a
          class="text-primary font-bold">CUENTAS</a> CLARAS
        </h2>
        <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿Cuánto se gasta en compras públicas?
        </h3>
        <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿En qué se gasta y cuánto se paga por las cosas?
        </h3>
        <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿Qué empresas o proveedores se benefician de esas compras?
        </h3>
        <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿Qué organismos son transparentes con sus procedimientos de compras?
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="view intro"
     style="background-image: url(https://www.elintransigente.com/u/fotografias/fotosnoticias/2017/5/14/401884.jpg); background-attachment: fixed; min-height: 700px">
  <div class="full-bg-img mask rgba-purple-slight">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h3 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s">
                Esas preguntas y otras por el estilo son las que pretendemos ayudar a responder en este sitio,
                en base a los datos abiertos publicados por la Agencia de Compras y Contrataciones Estatales (ACCE)
                y gracias al apoyo de Open Contracting Partnership (OCP) y la Iniciativa Latinoamericana por los Datos
                Abiertos (ILDA).
              </h3>
              <div class="container">

              <div class="row mt-5">
                <div class="col-md-3 wow fadeIn mb-3">
                  <img src="assets/orgs/ladiaria.png">
                </div>
                <div class="col-md-3 wow fadeIn mb-3">
                  <img src="assets/orgs/ladiaria.png">
                </div>
                <div class="col-md-3 wow fadeIn mb-3">
                  <img src="assets/orgs/ilda.png">
                </div>
                <div class="col-md-3 wow fadeIn mb-3">
                  <img src="assets/orgs/ocp.png">
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
      <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.</p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
