<div class="view intro"
     style="background-image: url(assets/banner.jpg); background-attachment: fixed; background-size: cover; min-height: 400px;  filter: alpha(opacity=50)">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>

  <div class="row mt-5">
    <div class="col-md-12 wow fadeIn mb-3">
      <div class="intro-info-content text-center white-text">
        <img src="assets/horizontal.svg" class="rounded mx-auto d-block" data-wow-delay="0.3s" height="300px">
        <h3 class="bold-400 font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿Qué compro y cuánto gastó el Estado uruguayo en los últimos años?
        </h3>
        <h3 class="bold-400 font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          ¿Qué tan transparentes son los organismos públicos en la publicación de esta información?
        </h3>
        <h3 class="bold-400 font-up mb-3 mt-1 font-bold wow fadeIn font-bold" data-wow-delay="0.4s">
          Muchas son las preguntas que surgen en torno a este tema, este sitio da respuestas a muchas de ellas y
          disponibiliza los datos para responder otras tantas.
        </h3>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">Compras públicas: ¿por qué?</h2>
      <p align="justify">
        Las compras y contrataciones del Estado son claves para entender el relacionamiento entre el sector público y el
        privado, y por tanto merecen especial atención en la búsqueda de transparencia y lucha contra la corrupción. Los
        gastos que los organismos públicos generan en compras y contratos representan un amplio porcentaje de sus
        presupuestos, repercutiendo directa e indirectamente en cómo se proveen los servicios y bienes públicos.

        Hacer transparentes las compras y contrataciones del Estado permiten mejorar el control de los ciudadanos y
        facilitan la rendición de cuentas. Además, favorecen la competencia y negociación de los organismos públicos con
        las empresas, alcanzando resultados más eficientes.
      </p>
      <h3 class="h1 font-bold mb-3">¿Qué y quién?</h3>
      <p align="justify">
        En 2017, las compras y contrataciones del Estado uruguayo alcanzaron los $XXX.000.000 pesos.
        Esto representa un XX% del PBI de ese año.

        ¿Cuáles fueron los productos más adquiridos? Esto es el top cinco de organismos más compradores en 2017 y los
        artículos más comprados por el Estado uruguayo.
      </p>
      <div class="row">
        <div class="col-md-6 my-3" style="text-align:left">
          <ngx-datatable
            class="material"
            [rows]="topBuyers"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [loadingIndicator]="topBuyersLoading"
            [columns]="topBuyersColumns">
          </ngx-datatable>
        </div>
        <div class="col-md-6 my-3" style="text-align:left">
          <ngx-datatable
            class="material"
            [rows]="topItems"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [loadingIndicator]="topItemsLoading"
            [columns]="topItemsColumns">
          </ngx-datatable>
        </div>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿Cuánto?</h2>
      <p align="justify">
        El universo de artículos y servicios comprados por el estado uruguayo está organizado en el Catálogo de
        Artículos de ACCE. De esta forma, podemos observar cómo por un mismo artículo distintos organismos han pagado
        precios diferentes.

        Un ejemplo. El código 3756 corresponde a “SILLA GIRATORIA DE OFICINA TIPO EJECUTIVO”. En 2017 se compraron en
        total 831 sillas de este estilo. Las más económicas costaron $982 (más IVA) en una misma compra de cinco sillas
        que fue realizada por la Jefatura de Policía de Artigas, y la más cara costó U$S487,91 (más IVA) y fue adquirida
        por la Dirección General de Servicios Ganaderos del MGAP.
      </p>
      <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-body>
          <mdb-card-text class="text-white row">
            <div class="col-md-1 think-emoji">
              <span>🤔</span>
            </div>
            <div class="col-md-11 think-text">
              <p>
                Para pensar: En 2017 el gasto total en sillas de este estilo fue de $2.799.820 aproximadamente, lo que
                implica
                que en promedio se pagó $3.369 por cada una. Ahora, si las 831 sillas se hubiesen comprado por el valor
                de la
                licitación pública ($2.743), ello hubiese significado un ahorro de $519.672, el 18,5% del gasto total.
              </p>
            </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿Cómo?</h2>
      <p align="justify">
        El Estados uruguayo puede comprar a través de 9 mecanismos: Licitación Pública, Licitación Abreviada, Compra
        Directa, Compra por Excepción, Pregón, Subasta, Convenios marco, Procedimientos de contratación especial y
        Arrendamiento. Cada uno de estos cuentan con distintas etapas en cuanto a su procedimiento y a los montos que
        pueden alcanzar. Cada uno está regulado en montos y procedimientos según el TOCAF.

        La Compra Directa ha sido el mecanismo más utilizado. En 2017, el Estado uruguayo realizó 57.785 compras
        directas. Lo siguen las licitaciones abreviadas - 3.947 en 2017-, las compras por excepción -2.845- y luego las
        licitaciones públicas que fueron 572.

        GRÁFICO: cantidad compras por mecanismo | montos por mecanismo

        Que este mecanismo sea el más utilizado no es necesariamente una buena noticia. La falta de competitividad es
        uno de los principales argumentos en contra del abuso de las contrataciones directas, lo que puede repercutir en
        un mayor gasto de los organismos públicos.
      </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold mb-5">¿A quién?</h2>
      <p align="justify">
        Todas las empresas que comercializan -o lo intentan- con el Estado, integran el Registro Único de Proveedores
        del Estado (RUPE): una base de datos administrada por ACCE en la que es obligatorio inscribirse para participar
        en procesos de selección de proveedores. Actualmente figuran 70.822 empresas en el RUPE de 84 países diferentes.
      </p>

      <div class="row my-3">
        <div class="col-md-12" style="text-align:left">
          <ngx-datatable
            class="material"
            [rows]="topSuppliers"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [loadingIndicator]="topSuppliersLoading"
            [columns]="topSuppliersColumns">
          </ngx-datatable>
        </div>
      </div>

      <p align="justify">
        Sin embargo, no todas estas empresas son efectivamente proveedoras del Estado, esto significa que muchas de
        ellas no han sido adjudicatorias. En 2017, XXX empresas resultaron ganadoras en una contratación pública. XXX
        fue la empresa que más procedimientos ganó, mientras que XXX fue la que más dinero recibió de compras públicas.
      </p>
      <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-body>
          <mdb-card-text class="text-white row">
            <div class="col-md-1 think-emoji">
              <span>🤔</span>
            </div>
            <div class="col-md-11 think-text">
              <p>
                Para pensar: Al pensar en compras públicas nos imaginamos grandes empresas proveedoras del Estado, pero
                sin embargo la
                mitad de las empresas registradas en el RUPE son unipersonales (“Personas Físicas con actividad
                empresarial -
                Unipersonal o profesional”).
              </p>
            </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 my-5">
      <div class="row">
        <div class="col-md-6">

          <mdb-card class="text-white mb-3" bgColor="bg-danger">
            <mdb-card-header class="thumbs-card-header"><i class="fa fa-thumbs-down"></i></mdb-card-header>
            <mdb-card-body>
              <mdb-card-text class="text-white">
                <ul>
                  <li>
                    “Baja DGI”
                    Cuando las empresas se encuentran en esta categoría, no pueden participar como oferentes en un
                    proceso de contratación pública. El 15,5% de las empresas registradas en el RUPE se encuentran en
                    esta categoría.
                  </li>
                </ul>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-6 think-text">
          <mdb-card class="text-white mb-3" bgColor="bg-success">
            <mdb-card-header class="thumbs-card-header"><i class="fa fa-thumbs-up"></i></mdb-card-header>
            <mdb-card-body>
              <mdb-card-text class="text-white">
                <ul>
                  <li>
                    Algo bueno de este lado
                  </li>
                </ul>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <p align="justify">
          A continuación, esta visualización permite observar la relación entre proveedores y organismos públicos en
          2017,
          según cantidad de compras o montos.
        </p>

        <iframe src="http://cuentasclaras-uy.azurewebsites.net/NetworkApp/index.html" frameborder="0" height="800" width="1200"></iframe>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->


  </div>
</div>
<div class="view intro"
     style="background-image: url(assets/banner2.jpg); background-attachment: fixed; min-height: 600px">
  <div class="full-bg-img mask rgba-purple-slight">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 600px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h3 class="mb-3 mt-1 white-text bold-400 wow fadeIn" data-wow-delay="0.4s">
                Cuentas Claras es un proyecto de CÍVICO en colaboración con la diaria. Los datos abiertos utilizados
                surgen de la Agencia de Contrataciones y Compra del Estado (ACCE).
              </h3>
              <div class="container">

                <div class="row mt-5 home-partners">
                  <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>
                  <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                    <img src="assets/orgs/civico.png" class="rounded mx-auto">
                  </div>
                  <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                    <img src="assets/orgs/ladiaria.png" class="rounded mx-auto">
                  </div>
                  <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>
                </div>

                <h3 class="mb-3 mt-1 white-text bold-400 wow fadeIn" data-wow-delay="0.4s">
                  Con el apoyo de Open Contracting
                  Partnership y la Iniciativa Latinoamericana de Datos Abiertos (ILDA)
                </h3>
                <div class="row mt-5 home-partners">
                  <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>
                  <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                    <img src="assets/orgs/ilda.png" class="rounded mx-auto">
                  </div>
                  <div class="col-lg-3  col-md-6 wow fadeIn mb-3">
                    <img src="assets/orgs/ocp.png" class="rounded mx-auto">
                  </div>
                  <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
