<div class="view intro">
  <section class="team-section my-5 mx-3">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5  text-center">El proyecto</h2>
    <!-- Section description -->
    <p class=" w-responsive mx-auto mb-5">
      Aunque en los últimos años Uruguay ha avanzado en la publicación y disponibilización de datos sobre las
      compras y
      contrataciones del Estado, su uso permanece por debajo de lo esperado, tanto por el sector privado como por la
      sociedad civil. Además, existen desigualdades en la forma en que los diversos organismos públicos se integran
      a la
      cultura de apertura y publicación.
    </p>

    <p class=" w-responsive mx-auto mb-5">
      La disponibilización y publicación de esta información es vital en la lucha contra la corrupción y la
      promoción de
      la rendición de cuentas, así como una herramienta sumamente útil para alcanzar Estados más eficientes, a
      través de
      la libre competencia y negociación.
    </p>

    <p class=" w-responsive mx-auto mb-5">
      En este escenario nace Cuentas Claras, un proyecto desde la sociedad civil dedicado a la apertura, publicación
      y
      monitoreo de las compras y contrataciones de todo el Estado uruguayo. Cuentas Claras es llevado adelante por
      la
      organización social CÍVICO en conjunto con el medio de comunicación la diaria. Es co-financiado por la
      organización
      internacional Open Contracting Partnership y la Iniciativa Latinoamericana por los Datos Abiertos (ILDA),
      quién
      además brinda apoyo técnico.
    </p>

    <!-- Grid row -->
    <div class="row partner-list">

      <!-- Grid column -->
      <div class="partner col-lg-6 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto text-center">
          <img src="assets/orgs/civico.png" class="partner-img"
               alt="">
        </div>
        <div class="my-4 mx-3">
          <p class="">
            CÍVICO es una organización de la sociedad civil abocada a la defensa de la transparencia, la rendición de
            cuentas y la participación ciudadana. Entre sus principales cometidos se encuentran la generación de
            espacios de
            participación y acceso a la información, el desarrollo de insumos informativos para el debate público, el
            enriquecimiento ciudadano y la toma de decisiones.
          </p>
          <p class="">
            En CÍVICO nos apoyamos en el paradigma del Gobierno Abierto, cuyos pilares fundamentales son la
            transparencia,
            la colaboración y la participación. En este sentido, generamos, promovemos y contribuimos en instancias
            interinstitucionales, con actores gubernamentales, privados, de la sociedad civil y organismos
            internacionales,
            en temáticas transversales que propicien la generación de espacios, acciones y políticas públicas en
            estrecha
            relación con el Gobierno Abierto.
          </p>
          <p class="">
            Defendemos, utilizamos e impulsamos el acceso a la información pública, la apertura de datos y su
            publicación en
            formatos abiertos y el código abierto.
          </p>
        </div>
        <ul class="list-unstyled mb-0  text-center">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/CIVICOUruguay/">
            <i class="fa fa-facebook-f "> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg fb-ic" target="_blank" href="https://twitter.com/civicouruguay">
            <i class="fa fa-twitter "> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://www.instagram.com/civicouruguay/">
            <i class="fa fa-instagram "> </i>
          </a>
          <!-- Medium -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://medium.com/civicouruguay">
            <i class="fa fa-medium "> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="partner col-lg-6 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto text-center">
          <img src="assets/orgs/ladiaria2.png" class="partner-img"
               alt="">
        </div>
        <div class="my-4 mx-3">
          <p class="">
            La diaria fue creada en 2006 por un grupo de ciudadanos y periodistas que queríamos que en Uruguay hubiera
            un
            diario que refleja la sensibilidad de las nuevas generaciones y que acompañará con una mirada crítica el
            momento
            político de cambios que estaba viviendo el país.
          </p>
          <p class="">
            Este proyecto nació y ha crecido entre una crisis de la prensa tradicional y el surgimiento de nuevas
            modalidades de comunicación. Estamos convencidos que el camino de supervivencia de las empresas
            periodísticas es
            mediante la construcción de modelos de gestión colaborativos, donde la propiedad y la gestión residan en
            los
            lectores y los trabajadores del medio. Somos una cooperativa de trabajadores que edita un diario (la
            diaria) y
            una revista mensual (Lento) que se comercializan, tanto en su versión impresa como digital, por
            suscripción.
            Actualmente a través de la diaria y revista Lento llegamos a 12.500 domicilios en todo el país. El negocio
            se
            sustenta en una comunidad de lectores que mediante el pago por suscripción contribuyen al sostenimiento
            del 80%
            de la estructura, el 20% restante se genera por venta de publicidad y proyectos puntuales. Los proyectos y
            acuerdos que aportan recursos a la diaria son compartidos con nuestros lectores, al igual que la
            información
            cotidiana sobre la cantidad de ejemplares que editamos.
          </p>
        </div>
        <ul class="list-unstyled mb-0 text-center">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/ladiaria/">
            <i class="fa fa-facebook-f "> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg fb-ic" target="_blank" href="https://twitter.com/ladiaria">
            <i class="fa fa-twitter "> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://www.instagram.com/ladiaria/">
            <i class="fa fa-instagram "> </i>
          </a>
          <!-- WhatsApp -->
          <a class="p-2 fa-lg ins-ic" target="_blank"
             href="https://medium.com/ladiaria/la-diaria-en-whatsapp-2384c3ec5755">
            <i class="fa fa-whatsapp "> </i>
          </a>
          <!-- Telegram -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://t.me/ladiaria">
            <i class="fa fa-telegram "> </i>
          </a>
          <!-- Medium -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://medium.com/ladiaria">
            <i class="fa fa-medium "> </i>
          </a>
          <!-- Web -->
          <a class="p-2 fa-lg ins-ic" target="_blank" href="https://ladiaria.com.uy/">
            <i class="fa fa-globe "> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <h2 class="h1-responsive font-weight-bold my-5  text-center">Apoyan</h2>

    <div class="container">
      <div class="row partner-list">
        <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>

        <!-- Grid column -->
        <div class="partner col-lg-3 col-md-6">
          <div class="avatar mx-auto text-center">
            <img src="assets/orgs/ilda.png" class="partner-img"
                 alt="">
          </div>
          <ul class="list-unstyled mb-0 text-center my-4">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/idatosabiertos">
              <i class="fa fa-facebook-f "> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg fb-ic" target="_blank" href="https://twitter.com/idatosabiertos">
              <i class="fa fa-twitter "> </i>
            </a>
            <!-- Web -->
            <a class="p-2 fa-lg ins-ic" target="_blank" href="https://idatosabiertos.org">
              <i class="fa fa-globe "> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="partner col-lg-3 col-md-6">
          <div class="avatar mx-auto text-center">
            <img src="assets/orgs/ocp2.png" class="partner-img"
                 alt="">
          </div>
          <ul class="list-unstyled mb-0 text-center my-4">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/OpenContracting">
              <i class="fa fa-facebook-f "> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg ins-ic" target="_blank" href="https://twitter.com/opencontracting">
              <i class="fa fa-twitter "> </i>
            </a>
            <!-- Web -->
            <a class="p-2 fa-lg ins-ic" target="_blank" href="https://www.open-contracting.org/">
              <i class="fa fa-globe "> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <div class="col-lg-3 .d-none .d-lg-block .d-xl-none"></div>


      </div>
    </div>
    <!-- Grid row -->

  </section>
</div>
