<h1> El Proyecto</h1>

<p>Este plataforma de visualización y uso de datos de contrataciones públicas que permita:</p>

<ol>
  <li>
    La construcción de una base de datos que involucre la obtención del Registro Único de Proveedores y las resoluciones del Tribunal de Cuentas
  </li>
  <li>
    La  generación de herramientas de consulta de esa base de forma que sirva a periodistas, investigadores y público en general, desarrollando una serie de notas de impacto con la información obtenida
  </li>
  <li>
    El desarrollo de una plataforma que monitoree de forma activa la publicación de datos contratación mediante algoritmos
  </li>
</ol>


