<div class="view intro">
  <section class=" my-5 mx-3">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5  text-center">Términos y condiciones</h2>
    <!-- Section description -->
    <p class=" w-responsive mx-auto mb-5">
      Los datos utilizados en este sitio son provistos por diversas fuentes que a continuación se detallan: 1. los datos
      abiertos publicados por la Agencia de Compras y Contrataciones del Estado (en adelante ACCE), de acuerdo al
      Estándar de Datos para la Contratación Abierta (Open Contracting Data Standard - OCDS para el periodo 2015-2018;
      2. información perteneciente al Registro Único de Proveedores del Estado (RUPE) para el periodo 2013- setiembre
      2018, obtenida mediante un pedido de acceso a la información pública realizado por el equipo de Cuentas Claras de
      la diaria y CÍVICO a ACCE ; 3. la nómina de funcionarios públicos que se denomina “Políticamente Expuestas” nómina
      confeccionada de acuerdo a los datos proporcionados por la Oficina Nacional de Servicio Civil (ONSC), y se difunde
      por el Banco Central del Uruguay(BCU) para el periodo 2015-2017; 4. listado de personas y empresas donantes a la
      campaña electoral del año 2014, basada en la información disponibilizada por el proyecto “Financiamiento de
      campañas en Uruguay” del Departamento de Ciencias Sociales y Políticas de la Universidad Católica del Uruguay en
      asociación con Uruguay Transparente, el programa periodístico No Toquen Nada y la Fundación Friedrich Ebert en
      Uruguay para la campaña electoral 2014; 5. Índice de transparencia en las contrataciones públicas elaborado para
      este proyecto por el equipo de Cuentas Claras de la diaria y CÍVICO para el periodo 2015-2018. La versión original
      de los mismos se encuentra publicada en el portal.
    </p>

    <p class=" w-responsive mx-auto mb-5">
      Salvo indicación en contrario, la información contenida en el portal será considerada de carácter público. Cuando
      su uso o tratamiento esté sujeto a algún tipo de restricción deberá estarse a lo indicado expresamente en ese
      caso. Los datos y sus visualizaciones en este sitio son provistos únicamente como información general para los
      usuarios/as, haciéndose el máximo esfuerzo en materia de relevancia, exactitud y completitud. La diaria y CÍVICO
      no son responsables por las acciones que los usuarios tomen en función de los datos obtenidos a través de esta
      página. Los datos y el software se publican en función de sus respectivas licencias(Creative Commons
      Attribution-ShareAlike 4.0 International) y cualquier garantía expresa o implícita será rechazada. En ningún caso
      la diaria y CÍVICO serán responsables por ningún daño directo, indirecto, incidental, especial o de cualquier otra
      clase que surja de cualquier forma de uso de este software y estos datos, incluso si se ha advertido la
      posibilidad de que tales daños existan.
    </p>

    <p class=" w-responsive mx-auto mb-5">
      Los análisis y visualizaciones provistos en el sitio son realizados por el equipo de Cuentas Claras de la diaria y
      CÍVICO, brindando toda la información disponible a través del sitio web.
      La prestación de este servicio tiene carácter gratuito para los usuarios. Los usuarios se obligan a hacer buen uso
      del sitio web y de sus contenidos, respetando la normativa nacional vigente, las buenas costumbres y el orden
      público, comprometiéndose en todos los casos a no causar daños al mismo ni a ningún tercero. A tal efecto, el
      usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los
      presentes Términos y condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan
      dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, documentos y toda
      clase de contenidos en cualquier equipo informático o de otros usuarios.
      En la elaboración del material disponible en el Portal se ha buscado que el lenguaje no invisibiliza ni discrimine
      a las mujeres y a la vez que el uso reiterado de “ /o”, “/a”, “los y las”, etcétera, no dificulte la lectura. Para
      más detalles ver: <a
      href="http://www.inmujeres.gub.uy/innovaportal/file/21498/1/15guia_de_lenguaje_inclusivo.pdf">Guía de Lenguaje
      Inclusivo - INMUJERES</a>
    </p>

  </section>
</div>
