@mixin button-variant($color, $background, $border) {
  color: $color !important;
  background-color: $background !important;
  border-color: $border !important;
  &:focus,
  &.focus {
    color: $color !important;
    background-color: darken($background, 10%) !important;
    border-color: darken($border, 25%) !important;
  }
  &:hover {
    color: $color !important;
    background-color: darken($background, 10%) !important;
    border-color: darken($border, 12%) !important;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color !important;
    background-color: darken($background, 10%) !important;
    background-image: none !important;
    border-color: darken($border, 12%) !important;

    &:hover,
    &:focus,
    &.focus {
      color: $color !important;
      background-color: darken($background, 17%) !important;
      border-color: darken($border, 25%) !important;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background !important;
      border-color: $border !important;
    }
  }

  .badge {
    color: $background !important;
    background-color: $color !important;
  }
}

.custom-btn-color {
  @include button-variant(#fff, #00c851, #00c851);
}
.custom-btn-color:not([disabled]):not(.disabled):active, .custom-btn-color:not([disabled]):not(.disabled).active, .show > .custom-btn-color.dropdown-toggle{
  color: #fff !important;
  background-color: #00c851 !important;
}

