/* Override Colors by using style rules */

.rating.color-ok .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}

.primary--color {
  background-color: #184675 !important;
}

.datatable-header-cell-wrapper {
  color: #ff5200 !important;
  font-size: 16px;
}

body {
  background-color: #e2e2e8 !important;
}
