/* Override Colors by using style rules */

.rating.color-ok .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #f00 !important;;
  }
  i {
    color: #f00 !important;;
  }
}



.datatable-body-cell, .datatable-header-cell {
  line-height: 0.625 !important;
}
