<!--Main Navigation-->
<header>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary--color">


    <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="assets/vertical_blanco.svg" height="65px"></a></mdb-navbar-brand>

    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/about-project">El proyecto</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/buying-index">Índice de Desempeño en las Contrataciones Públicas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/visualizations">Visualizaciones</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/news">Notas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/documentation">Documentación</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/database">Base de datos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" mdbWavesEffect routerLink="/contact">Consultas</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<!--Main Navigation-->
